# Node modules
node_modules/

# Build output
dist/

# Environment variables
.env

# Docker files
docker-compose.override.yml
docker-compose.dev.yml

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/
*.suo
*.ntvs_analysis.dat
*.njsproj
*.sln
*.sw?

# Typescript files
*.tsbuildinfo
